.about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.about-right {
  flex: 1;
}

.about__card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: var(--darkGrey);
}

.about__card {
  width: 60%;
  height: 70%;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__title {
  font-weight: 400;
  color: var(--colFourth);
}

.about__sub {
  margin: 1.25rem 0;
}

.about__desc {
  font-weight: 300;
  padding-right: 8em;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    text-align: center;
    margin-top: 4.5rem;
  }

  .about-left {
    width: 100%;
  }

  .about-right {
    flex: 0;
    padding: 1em;
  }

  .about__desc {
    font-weight: 300;
    padding: 0 1em;
    text-align: center;
  }
}
