@import url("../Global.css");

.contact {
  height: 100vh;
  position: relative;
}

.contact-bg {
  width: 20px;
  height: 100%;
  background-color: var(--colFirst);
  position: absolute;
}

.contact-wrapper {
  padding: 3.125em;
  display: flex;
}

.contact-left {
  flex: 1;
}

.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  font-size: 3.75rem;
  width: 70%;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  font-weight: 300;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 1.25rem;
}

form {
  margin-top: 1.25rem;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 0.625rem 0;
  font-size: 0.875rem;
  padding-left: 0.625em;
}

textarea {
  width: 100%;
  margin: 0.625rem 0;
  font-size: 0.875rem;
  padding-left: 0.625em;
}

button {
  border: none;
  padding: 1em;
  background-color: var(--colFirst);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}

.form-respond {
  margin: 1rem 0;
}

@media screen and (max-width: 600px) {
  .contact-wrapper {
    flex-direction: column;
    padding: 0 3em;
  }

  .contact-title {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
  }

  .contact-info-item {
    margin: 1.25rem 0;
    width: 100%;
  }

  .contact-desc {
    display: none;
  }

  form {
    margin-top: 0;
    margin-left: 1px;
  }

  textarea {
    width: 90%;
  }
}
